# VS Code
.vscode/

# Executables

# Build directories
build/

# Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Other
*.log
*.tmp
